<ul>

<% if @books.empty? %>

<%="No Books have been added yet !" %>

<% else %> 

<h1> Books : <h1><br>
<% @books.each do |book| %>
  <h2><%= link_to book.title, book_path(book) %></h2>
<% end %>
<% end %>
</ul>